.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 2vmin);
    font-weight: bold;
    padding: 10px 0px;
    color: white;
}

.App-link {
    color: #61dafb;
}

.exhibit-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: #282c34;
    color: white;
    padding: 6px 0px;
    width: 200px;
}
